html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTso4QKu3TWfcQNFf7mdXG2BO_exlvypdpTMODxaToKuvnTrdSK);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
  color: red;
  text-align: center;
}